html{
  background: url('./assets/home.jpeg') no-repeat center fixed;     
    background-size: cover;
}

  body{
    margin: 0;
  padding: 0;
  }

@media (max-width: 767px) {
  html {
    font-size: 90%;
  }
}
